.chakra-radio__input {
  display: none;
}

div {
  margin: 50px;
}

.chakra-radio__label {
  height: 50px;
  width: 150px;
  border: 2px solid #1b4332;
  color: #1b4332;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  padding: 16px 11px;
  margin: 20px;
}

.chakra-radio__input:checked ~ .chakra-radio__label {
  background-color: #1b4332;
  color: white;
}
